html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", cursive;
    box-sizing: border-box;
}

body {
    background-color: #f4ead3;
    color: #33271d;
    display: flex;
    flex-direction: column;
}

/* Header */

.header-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 25px;
}

.logo {
    font-size: 1em;
    color: #33271d;
}

.logo span {
    color: #a83d32;
}

/* main */

main {
    background-color: blue;
    flex: 1;
    min-height: 0;
}

.game-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

.street-veiw-box {
    margin: 30px;
    background-color: green;
    border: 5px solid #5c4935;
}

/* map view box */

.map-view-box {
    display: flex;
    flex-direction: column;
    background-color: red;
    border: 5px solid #5c4935;
}


.map-view {
flex: 1;
}